<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>我的课表</title>
    <!--适配安卓-->
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport"/>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/axios-0.18.0.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body>

<!--{% for item in data %}-->
<!--<p>{{ item.semesterOfYear }}</p>-->
<!--<p>{{ item.classPlace }}</p>-->
<!--<p>{{ item.teacherName|truncatechars:4 }}</p>-->
<!--<p>{{ item.classWeek }}</p>-->
<!--<p>{{ item.classSections }}</p>-->
<!--<br/>-->
<!--{% endfor %}-->

<template id="classTable">
    <el-table
            :data="{{ end }}"

            style="width: 100%">
        <el-table-column
                fixed
                prop="date"
                label="日期"
                min-width="50%">
        </el-table-column>
        <el-table-column
                prop="1"
                label="周一"
                min-width="65%">
        </el-table-column>
        <el-table-column
                prop="2"
                label="周二"
                min-width="65%">
        </el-table-column>
        <el-table-column
                prop="3"
                label="周三"
                min-width="65%">
        </el-table-column>
        <el-table-column
                prop="4"
                label="周四"
                min-width="65%">
        </el-table-column>
        <el-table-column
                prop="5"
                label="周五"
                min-width="65%">
        </el-table-column>
        <el-table-column
                prop="6"
                label="周六"
                min-width="65%">
        </el-table-column>
        <el-table-column
                prop="7"
                label="周日"
                min-width="65%">
        </el-table-column>
    </el-table>
</template>

<script>
    new Vue({
        el: "#classTable",

        mounted() {
            this.selectAll();
        },
        methods: {

            objectSpanMethod({row, column, rowIndex, columnIndex}) {
                if (columnIndex === 0) {
                    if (rowIndex % 2 === 0) {
                        return {
                            rowspan: 2,
                            colspan: 1
                        };
                    } else {
                        return {
                            rowspan: 0,
                            colspan: 0
                        };
                    }
                }
            }
        },
        data() {
            return {
                tableData: [{'2': '大数据可视化分析@JS317', 'date': '1'},
                    {'2': '大数据可视化分析@JS317', 'date': '2'},
                    {
                        '1': '大数据可视化分析@JE201',
                        '2': '数据结构@JS317',
                        '3': '机器学习@JS104',
                        '4': '机器学习@JS317',
                        'date': '3'
                    },
                    {
                        '1': '大数据可视化分析@JE201',
                        '2': '数据结构@JS317',
                        '3': '机器学习@JS104',
                        '4': '机器学习@JS317',
                        'date': '4'
                    },
                    {
                        '1': '数据结构@JC401',
                        '2': '大学生创新创业指@JE305',
                        '5': 'Spark大数据@JS324',
                        '6': '习近平新时代中国@JE105',
                        'date': '5'
                    },
                    {
                        '1': '数据结构@JC401',
                        '2': '大学生创新创业指@JE305',
                        '5': 'Spark大数据@JS324',
                        '6': '习近平新时代中国@JE105',
                        'date': '6'
                    },
                    {'1': '数据结构@JC401', '5': 'Spark大数据@JS324', '6': '习近平新时 代中国@JE105', 'date': '7'},
                    {'5': 'Spark大数据@JS324', 'date': '8'},
                    {'date': '9'},
                    {'date': '10'},
                    {'date': '11'}]
            }
        }
    })

</script>
</body>
</html>