<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--适配安卓-->
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport"/>
    <!--badjs兼容处理-->
    <!--    <script>var __empty = function __empty() {};window.JDPerformance = { sendResource: __empty };window.MPing = function () {this.send = __empty;this.EventSeries = { androidSeries: __empty };};window.getAndroidUnionSeries = __empty;window.webviewVisible = __empty;window.musicStop = __empty;window.getUnionSeries = __empty;window.pingouWebviewNotification = window.pingouWebviewNotification || __empty;window.getNetWorkCallback = window.getNetWorkCallback || __empty;</script>-->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/axios-0.18.0.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">


    <script>
        window.onload = to_punch;
        function to_punch() {
            // document.getElementById("ifr").setAttribute("src", "../punch")
            try {
                document.getElementById("username").value = window.getUsername.getUsername();
                document.getElementById("password").value = window.getPassword.getPassword();
                document.getElementById("myForm").submit();
            } catch (err) {
                document.getElementById("username").value = "";
                document.getElementById("password").value = "";
                // document.getElementById("myForm").submit();
            }
        }

    </script>

</head>

<form id="myForm" action="" method="post">
    {% csrf_token %}
    <input id="username" type="text" name="username">
    </br>
    <input id="password" type="password" name="password">
    <button type="submit">hhh</button>
</form>

<!--<div style="position: fixed; height: 100%;width: 100%">-->
<!--    <iframe id="ifr" src="../mainActivity" height="100%" width="99%" style="border: 0"></iframe>-->
<!--</div>-->


<script>
    new Vue({
        el: "#app",

        mounted() {
            this.selectAll();
        },
        methods: {

        },
        data() {
            const item = {
                name: '王小虎',
                password: '123456',
                permission: '学生'
            };
            return {
                // 每页显示的条数
                pageSize: 10,
                // 总记录数
                totalCount: 100,
                // 当前页码
                currentPage: 1,
                tableData: Array(20).fill(item)
            }
        }
    })

</script>
</body>
</html>