<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--适配安卓-->
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport"/>
    <script>
        //接收android传递的数据，并显示在html上
        function AndroidToWeb(str) {
            document.getElementById("submit").innerHTML = str;
        }

        function setData() {
            document.getElementById("username").value = window.getUsername.getUsername();
            document.getElementById("password").value = window.getPassword.getPassword();

            // document.getElementById("myForm").submit();
        }
    </script>

</head>
<body>
<form action="/punch/" method="post" id="myForm">
    {% csrf_token %}
    <input type="text" name="email">
    </br>
    <input id="username" type="text" name="username">
    </br>
    <input id="password" type="text" name="password">
    <button onclick="setData()">getDataFromAndroid</button>
    <input type="submit" value="提交" onclick="AndroidToWeb()">
    <label id="label" id="submit"/>
</form>

<div id="usrname" onclick="getAndroidValueUsername()"
     style="width:100px; height:100px; background-color:#009903;"></div>

<div id="pwd" onclick="getAndroidValuePassword()" style="width:100px; height:100px; background-color:#099;"></div>

<script type="text/javascript">
    function getAndroidValueUsername() {
        document.getElementById("usrname").innerHTML = window.getUsername.getUsername();
    }

    function getAndroidValuePassword() {
        document.getElementById("pwd").innerHTML = window.getPassword.getPassword();
    }
</script>

<p>{{ rlt }}</p>
</br>
<p>{{username }}</p>
</br>
<p>{{ password }}</p>
</body>
</html>